* {
/*  border: red 1px solid;
*/}

* {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*NAVIGATION BAR*/

nav {
  width: 17%;
  min-width: 100px;
  height: 156.8%;  
  background-color: #9A969C;
  position: absolute;
  border-right: #3E3544 2px solid;}

.topnav a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  width: 85%;
  margin-left: 8%;
  margin-top: 5%; 
  }

ul {
    margin-right: 5%;
    margin-top: 25%;
    padding-left: 10%;
}

li {
  font-size: 18px;
  display: block;
  padding: 15px;
  text-align: left;
}

/*HEADER*/

header {
  width: 83%;
  height: 48%;
  background-color: #3E3544;
  float: right;
  left: 17%;
  margin-bottom: 10px;
}

.headline-section {
  width: 880px;
  color: #ffffff;
  }

img.main-dog {
  height: 90%;
  border-radius: 50%;
  border: 5px solid #9A969C;
  margin: 2% 9%;
}

h1 {
  font-weight: 100;
  float: right;
  margin-top: 11%;
  margin-right: 1.75%;
  width: 41%;
}

.some-dogs {
  font-weight: 700;
}

.dog-form {
  float: right;
  margin-top: -23%;
  margin-right: 2.5%;}

label {
  text-align: left;
  width: 55px;
  display: block;
  margin-bottom: 5px;
}

.text-box {
  height: 40px;
  width: 350px;
  margin: auto;
  display: block;
}

.name-button {
  background-color: #9A969C;
  height: 40px;
  width: 350px;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  display: block;
}

/*COLUMNS*/

.columns {
  margin: 1% 10% 1% 23%;
  float: right;
  border-bottom: black 1px solid;
  padding-bottom: 30px;
  margin-top: -5px;
}

.bottom-buttons {
  width: 20%;
  background-color: #3E3544;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  float: right;
}

img.dogs {
  height: 15%;
  border-radius: 50%;
  border: 5px solid #9A969C;
  margin-right: 20px;
  float: left;
}

#last-column {
  border: none;
}

/*FOOTER*/

footer {
  text-align: right;
  color: #ffffff;
  height: 150px;
  width: 83%;
  float: right;
  background-color: #3E3544;
  bottom: -57%;
}

img.social-channels {
  padding: 8px;
  height: 50px;
}

.social-images-container {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: -50px 25px 10px 0px;
}

footer p {
  font-weight: bold;
  margin-right: 150px;
  font-size: 20px;
}

/*MEDIA QUERIES*/

@media (max-width: 1045px) {
  img.main-dog {
    height: 40%;
  }
  h1 {
    width: 100%;
    font-size: 26px;
  }
  .dog-form {
    margin-top: -3px;
    margin-right: 13px;
  }
  .text-box {
    width: 275px;
  }
  .name-button {
    width: 275px;
  }
  .headline-section {
  width: 300px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  }
}

@media (max-width: 995px) {
  .topnav a {
    font-size: 10px;
    padding: 6px;
  }
  li {
    text-align: center;
  }
  ul {
    padding-left: 0%;
  }
}

@media (max-width: 760px) {
  .columns {
    margin: 1% 7% 1% 25%;
  }
  img.dogs {
    height: 10%;
  }
  .columns p {
    font-size: 9px;
  }
  .columns h2 {
    font-size: 18px;
  }
}

@media (max-width: 490px) {
  footer p {
    font-size: 16px;
    margin-right: 140px;
  }
}